@import '../../../../asset/base.scss';

.typography__sub_heading {
  color: $font-color-secondary-color;
  font-family: $font-stack-light;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 48px 0 30px;
  position: relative;

  &:after {
    background: $color-mustard;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    bottom: -12px;
    width: 20px;
  }
}
