@import '../../../../asset/base.scss';

.container__billboard {
  background: $background-billboard;
  padding: 60px 30px;
  text-align: center;

  p {
    font-size: 20px;
  }

  @media screen and (min-width: 600px) {
    padding-top: 70px;
  }
}
