@import '../../../../asset/base.scss';

.typography__page_title {
  color: $color-white;
  font-family: $font-stack-title;
  font-size: 27px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-transform: uppercase;

  @media screen and (max-width: 415px) {
    font-size: 21px;
  }
}
