@import '../../../../asset/base.scss';

.typography__section_title {
  color: $font-color-secondary-color;
  font-family: $font-stack-light;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 27px;
  margin-bottom: 50px;
  position: relative;

  &:after {
    background: $color-mustard;
    bottom: -18px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
  }
}
