@import '../../../../asset/base.scss';

.header__menu {
  li {
    display: inline;
    font-family: $font-stack-light;
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 15px;

    a {
      color: $color-white;

      &:hover {
        border-bottom: 1px solid $color-white;
        padding-bottom: 6px;
      }
    }
  }
}

/* Smartphones (portrait) ----------- */
@media screen and (min-width: 500px) {

  .header__menu li {
    font-size: 16px;
    margin-left: 40px;
  }

}
