@import '../../../../asset/base.scss';

.typography__loud {
  color: $font-color-loud;
  font-family: $font-stack-title;
  font-size: 27px;
  letter-spacing: 2px;
  text-transform: uppercase;

  @media screen and (min-width: 600px) {
    font-size: 33px;
  }
}
